.order_refund_container{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 120px;
    background-color: #F4F8FB;
}
.myOrder_scroll{

    width: 100%;
    height: 100%;
}

.orderItem_footer_container{
    padding: 31px;
    padding-top: 0;
    box-sizing: border-box;
    width:100%;
    background:white;
}
.orderItem_middle_line{
    height:1px;
    background:rgba(234,234,234,1);
}
.orderItem_bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}
.orderItem_bottom_refunding{

    width:160px;
    height:48px;
    background:rgba(254,241,240,0);
    border:1px solid rgba(255, 89, 75, 1);
    border-radius:24px;

    text-align: center;
    font-size:28px;
    line-height: 48px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(255,89,75,1);

}


/*退款申请*/

.ra_container{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    background-color: #f4f8fb;
}
.ra_scroll_container{
    width: 100%;
    height: 100%;
    background-color: #f4f8fb;
}
.ra_item_container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:132px;
    background:rgba(255,255,255,1);
    padding: 32px;
    box-sizing: border-box;

}
.ra_item_content{
    display: flex;
    flex-direction: column;
}
.ra_item_content_title{
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.ra_item_content_sub{
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(153,153,153,1);
    margin-top: 19px;
}
.ra_item_arrow{
    display: inline-block;
    width:14px;
    height:24px;
}

/*提交退款申请*/
.ras_container{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    background-color: #F4F8FB;
}
.ras_reason_c{

    display: flex;
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:88px;
    background:rgba(255,255,255,1);
}
.ras_money_c{
    padding: 0 40px;
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
}
.ras_money_nunmber{

    display: inline-block;
    font-size:32px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,89,75,1);
}

.refundExplain{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left: 8px;
    padding-right: 20px;
    /*height:148px;*/
    background:rgba(255,255,255,1);
    box-sizing: border-box;
}
.refundExplain_title_c {
    /*display: flex;*/
    /*flex-direction: row;*/
}
.refundExplain_title{
    display: inline-block;
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
}
.refundExplain_value{

    display: inline-block;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(153,153,153,1);
    margin-right: 10px;
}
.uploadImage{

    padding: 20px;
    box-sizing: border-box;
    width:100%;
    background:rgba(255,255,255,1);
}
.uploadImage_title{

    height:28px;
    font-size:28px;
    margin-left: 20px;
    margin-bottom: 30px ;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
}



/*退款*/
.refundDetail{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    background-color: #f4f8fb
}
.refundDetail_scroll{

    width: 100%;
    height: 100%;
}

.resultHeader_c{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 54px  40px ;
    box-sizing: border-box;
    background:rgba(255,89,75,1);
}
.resultHeader_status{

    font-size:44px;
    font-family:PingFang-SC-Bold;
    font-weight:bold;
    line-height: 44px;
    color:rgba(255,255,255,1);
}
.resultHeader_time{
    margin-top: 29px;
    font-size:28px;
    line-height: 28px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(255,255,255,1);
}
.refundDetail_message{
    padding: 31px;
    box-sizing:border-box;
    width:100%;
    background:rgba(255,255,255,1);
}
.refundDetail_message_title{

    line-height:28px;
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
}
.refundDetail_orderProduct_message{
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    padding: 23px 32px 32px 0px;
    box-sizing: border-box;
}
.refundDetail_reason_info{

    line-height:25px;
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(153,153,153,1);
    margin-bottom: 32px;
}

/*退款选择物流公司*/
.nav_right_ref_chooseAdd{
    display: inline-block;
    line-height:28px;
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
    margin-right: 15px;
}

.ref_ordernumber{

    display: flex;
    padding: 0 40px;
    flex-direction: row;
    align-items: center;
    height:88px;
    background:rgba(255,255,255,1);
}
.ref_ordernumber_title{

    line-height:28px;
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
}
.ref_ordernumber_input{

    font-size: 28px;
    margin-left: 15px;
    border-width: 0;
    outline:medium;
    flex: 1;
}
.resultRowItem{

    padding: 15px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.resultRowItem_key{

    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.resultRowItem_value{

    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
}
.resultRowItem_value_o{
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:#FF594B;
}
.orderInfoButtom{

    width: 100%;
    padding: 32px 29px 1px 29px;
    box-sizing: border-box;
    background-color: white;
}
.orderInfoButtom_item{

    font-size:24px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(102,102,102,1);
    margin-bottom: 31px;
}
.orderDetail_container{
    position: absolute;
    top: 120px;
    bottom: 108px;
    width: 100%;
    background-color: #f4f8fb;
}
.od_command{

    width: 100%;
    padding: 33px 44px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.orderDetail_footer_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width:100%;
    height: 108px;
    padding: 31px;
    position: absolute;
    box-sizing: border-box;
    background:white;
    bottom: 0;
    border-top: #dddddd 1px solid;
}
.orderItem_bottom_delete{

    width:160px;
    height:48px;
    background:rgba(254,241,240,0);
    border:1px solid rgba(153, 153, 153, 1);
    border-radius:24px;

    text-align: center;
    font-size:28px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    line-height: 48px;
    color:rgba(102,102,102,1);
    margin: 0 9px 0 9px;

}