.order_refund_container{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 120px;
}
.myOrder_scroll{

    width: 100%;
    height: 100%;
}

.orderItem_footer_container{
    padding: 31px;
    padding-top: 0;
    box-sizing: border-box;
    width:100%;
    background:white;
}
.orderItem_middle_line{
    height:1px;
    background:rgba(234,234,234,1);
}
.orderItem_bottom{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
}
.orderItem_bottom_refunding{

    width:160px;
    height:48px;
    background:rgba(254,241,240,0);
    border:1px solid rgba(255, 89, 75, 1);
    border-radius:24px;

    text-align: center;
    font-size:28px;
    line-height: 48px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(255,89,75,1);

}


/*退款申请*/

.ra_container{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    background-color: #f4f8fb;
}
.ra_scroll_container{
    width: 100%;
    height: 100%;
}
.ra_item_container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    height:132px;
    background:rgba(255,255,255,1);
    padding: 32px;
    box-sizing: border-box;

}
.ra_item_content{
    display: flex;
    flex-direction: column;
}
.ra_item_content_title{
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.ra_item_content_sub{
    font-size:24px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(153,153,153,1);
    margin-top: 19px;
}
.ra_item_arrow{
    width:14px;
    height:24px;
}

/*提交退款申请*/
.ras_container{
    position: absolute;
    top: 120px;
    bottom: 0;
    width: 100%;
    background-color: #d2d2d2;
}
.ras_reason_c{

    display: flex;
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height:88px;
    background:rgba(255,255,255,1);
}
.ras_money_c{
    padding: 0 40px;
    background-color: white;
    height: 88px;
    display: flex;
    align-items: center;
}
.ras_money_nunmber{

    display: inline-block;
    font-size:32px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(255,89,75,1);
}

.refundExplain{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-left: 8px;
    padding-right: 20px;
    /*height:148px;*/
    background:rgba(255,255,255,1);
    box-sizing: border-box;
}
.refundExplain_title_c {
    /*display: flex;*/
    /*flex-direction: row;*/
}
.refundExplain_title{
    display: inline-block;
    font-size:28px;
    font-family:PingFang-SC-Medium;
    font-weight:500;
    color:rgba(31,31,31,1);
}
.refundExplain_title_p{
    display: inline-block;
    font-size:26px;
    font-family:PingFang-SC-Regular;
    font-weight:400;
    color:rgba(153,153,153,1);
}

.explain_textareaItem{

    height: 30px;
    font-size: 22px;

}
.explain_textareaItem_c{


    font-size: 28px;
}

.item {
    font-size: 28px;
 /*padding-left: 0;*/
}