*{
    margin: 0;
    padding: 0;
}
.wrapper{
    width: 100%;
    height: 100%;
}
.nav_bar_list{
    background-color: #fff;
}
.top_area{
    width: 100%;
    height: 313px;
    background: url("./images/store_top_bg@2x.png") no-repeat  center center;
    background-size:100% 313px ;
    padding: 54px 30px;
    box-sizing: border-box;
    background-color: #fff;
}
.top_search{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.top_search_input input{
    width:580px;
    height:60px;
    background:rgba(229,229,229,1);
    opacity:0.5;
    border-radius:30px;
    font-size:28px;
    color:rgba(102,102,102,1);
    border: 0;
    padding-left: 20px;
    box-sizing: border-box;
}
.back_icon img{
    width: 19px;
    height: 36px;
}
.classfiy_icon{
    width: 45px;
    height: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 10px 0 0;
}
.classfiy_icon img{
    width: 32px;
    height: 25px;
}
.classfiy_text{
    font-size:20px;
    color:rgba(255,255,255,1);
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
.store_info{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
}
.store_img img{
    width: 74px;
    height: 74px;
}
.store_name_area{
    flex: 1;
    height: 100%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.store_name{
    font-size:32px;
    color:rgba(51,51,51,1);
}
.store_fans{
    font-size:24px;
    color:rgba(51,51,51,1);
}
.store_attention{
    width: 136px;
    display: flex;
    align-items: center;
}
.store_attention img{
    width: 136px;
    height: 52px;
}
.store_info_left{
    width: 290px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.store_classify_area{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.store_classify_option{
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.onclick_before{
    width: 60px;
    font-size:28px;
    font-weight:500;
    color:#333;
}
.onclick_after{
    width: 60px;
    font-size:28px;
    font-weight:500;
    color:#FF594B;
}
.store_banner img{
    width: 100%;
    height: 280px;
}
.discount_wrapper{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 30px;
    box-sizing: border-box;
    background-color: #fff;
}
.discount_img_area{
    width: 340px;
    height: 128px;
    box-shadow: 5px 5px 30px #EFEEEE;
    position: relative;
}
.discount_img{
    width: 340px;
    height: 128px;
}
.discount_position{
    width: 340px;
    height: 128px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
}
.discount_price_area{
    width: 50%;
    height: 128px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.discount_price_symbol{
    font-size:32px;
    color:rgba(255,89,75,1);
    width: 45%;
    text-align: right;
    margin-top: 3px;
}
.discount_price{
    font-size:40px;
    color:rgba(255,89,75,1);
    flex: 1;
    text-align: left;
}
.discount_info{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.discount_top_text{
    font-size:28px;
    color:rgba(51,51,51,1);
    margin-top: 30px;
}
.discount_bottom_text{
    font-size:24px;
    color:rgba(153,153,153,1);
    margin-top: 5px;
}
.product_wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 32px;
    padding: 0 25px;
    box-sizing: border-box;
}
.home_footer{
    width: 100%;
    padding:50px 40px;
    box-sizing: border-box;
    background:rgba(244,248,251,1);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer_option_wrapper{
    width: 100%;
    height: 102px;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
}
.footer_option{
    flex: 1;
    height: 102px;
    border-right: 1px solid #E9E9E9;
    font-size:32px;
    color:rgba(51,51,51,1);
    line-height: 102px;

    text-align: center;
}
.footer_option:nth-child(1){
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer_option:nth-child(3){
    border-right: none;
}
.imsg_icon img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.wrap_body{
    height: 100%;
}