.product_info{
  height: 273px;
  background-color: #fff;

  padding: 0 22px;
  box-sizing: border-box;

  margin-top:78px ;
}

.price_info_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.price_now{
  height:31px;
  font-size:42px;
  font-family:PingFang-SC-Bold;
  font-weight:bold;
  color:rgba(255,89,75,1);
  line-height:31px;
}

.price_origin{
  height:21px;
  font-size:28px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  text-decoration:line-through;
  color:#999999;
  line-height:21px;
  margin-left: 12px;
}

.product_name{
  height:76px;
  font-size:28px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:#333333;
  line-height:46px;
  margin-top: 42px;
}
