
.container {
  background-color: #f5f8fb;
  width: 100%;
  overflow-x: hidden;
}

.product_scroll{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 102px;
  top: 156px;
  /*width: 100%;*/
  /*height: 100%;*/
}

.productNav_container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 156px;
  width: 100%;
  position: fixed;
  padding-top: 28px;
  box-sizing: border-box;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
  border-bottom-style: solid;

}
.productNav_leftIcon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.productNav_leftIcon_img{
  width: 19px;
  height: 36px;
}
.productNav_rigthIcon_img{
  width: 36px;
  height: 30px;
}
.productNav_middle_titleSelected{
  height:31px;
  margin-left: 11px;
  margin-right: 11px;
  font-size:32px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:31px;
}
.productNav_middle_titleNormal{

  height:31px;
  margin-left: 11px;
  margin-right: 11px;
  font-size:32px;
  font-family:PingFang-SC-Medium;
  font-weight:350;
  color:rgba(153,153,153,1);
  line-height:31px;
}
.productNav_middle{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.product_info {
  height: 273px;
  background-color: #fff;
  padding-left: 22px;
  box-sizing: border-box;
  margin-top: 78px;
}

.price_info_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.price_now {
  height: 31px;
  font-size: 42px;
  font-family: PingFang-SC-Bold;
  font-weight: bold;
  color: rgba(255, 89, 75, 1);
  line-height: 31px;
}

.price_origin {
  height: 21px;
  font-size: 28px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  text-decoration: line-through;
  color: #999999;
  line-height: 21px;
  margin-left: 12px;
}

.product_name {
  height: 76px;
  font-size: 28px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: #333333;
  line-height: 46px;
  margin-top: 42px;
}
.product_mark {
  display: flex;
  width: 100%;
  height: 88px;
  justify-content: center;
  align-items: center;
}

.product_mark_img {
  width: 100%;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.product_item_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 23px;
  padding-right: 24px;
  height: 88px;
  background-color: white;
  box-sizing: border-box;
}
.product_display_row {
  display: flex;
  flex-direction: row;
}
.product_item_title {
  height: 27px;
  font-size: 28px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 27px;
}
.product_item_content {
  height: 27px;
  font-size: 28px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 27px;
}
.product_item_arrow {
  justify-self: self-end;
}
.product_item_line_container {
  background-color: white;
  width: 100%;
  padding-left: 23px;
  box-sizing: border-box;
}
.product_item_line {
  height: 1px;
  background-color: rgba(234, 234, 234, 1);
}

/*//产品评价*/
.product_appraise {
  display: flex;
  flex-direction: row;
  padding-left: 23px;
  padding-right: 24px;
  background-color: white;
  box-sizing: border-box;
}
.product_appraise_contentcontainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.product_appraise_header_img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  margin-right: 12px;
}

.product_appraise_productInfo {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  height: 68px;
}
.product_appraise_productInfo_title {
  height: 26px;
  font-size: 28px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 26px;
}
.product_appraise_productInfo_sub {
  display: flex;
  flex-direction: row;
}
.product_appraise_productInfo_subTime {
  height: 19px;
  font-size: 24px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 19px;
}
.product_appraise_productInfo_subCata {
  height: 23px;
  font-size: 24px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(153, 153, 153, 1);
  line-height: 23px;
}
.product_appraise_content {
  margin-top: 31px;
  font-size: 28px;
  font-family: PingFang-SC-Regular;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
}
.product_appraise_contentImgs {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product_appraise_contentImg {
  width: 147px;
  height: 148px;
  border-radius: 4px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*轮播*/
.carouselStyle{
  height: 700px;
}

/*商店*/
.storeInProduct_container {
  width: 100%;
  box-sizing: border-box;
}
.storeInProduct_header {
  padding-top: 29px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 28px;
  box-sizing: border-box;
  width: 100%;
  height: 188px;
  background: rgba(255, 255, 255, 1);


}
.storeInProduct_header_top {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 76px;
}
.storeInProduct_header_topleftImg{
  width: 76px;
  height: 76px;
}
.storeInProduct_header_topleft {
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}
.storeInProduct_header_topInfo {
  display: flex;
  margin-left: 13px;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.storeInProduct_header_topInfo_name {
  height: 31px;
  font-size: 32px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
  line-height: 31px;
}
.storeInProduct_header_topInfo_count {
  height: 23px;
  font-size: 24px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(153, 153, 153, 1);
  line-height: 23px;
}
.storeInProduct_header_topright {
  display: flex;
}
.storeInProduct_header_toprightAll {
  width: 140px;
  height: 48px;
  background-color: rgba(188, 188, 188, 0);
  border: 1px solid rgba(255, 89, 75, 1);
  border-radius: 24px;

  text-align: center;
  font-size: 24px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(255, 89, 75, 1);
  line-height: 48px;
}
.storeInProduct_header_toprightToStore {
  width: 140px;
  height: 48px;
  background-color: rgba(255, 89, 75, 1);
  border-radius: 24px;
  text-align: center;
  font-size: 24px;
  font-family: PingFang-SC-Medium;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 48px;
  margin-left: 20px;
}
.storeInProduct_header_bottom {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.storeInProduct_header_bottomDetail_container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.storeInProduct_header_bottomDetail{
  height:23px;
  font-size:24px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(102,102,102,1);
  line-height:23px;
}
.storeInProduct_header_bottomLevel {

  width: 28px;
  height: 28px;
  background: rgba(255, 229, 227, 1);
  border-radius: 4px;

  margin-left: 10px;
  font-size:22px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(255,89,75,1);
  line-height:28px;

}


.storeInProduct_content{
  width: 100%;
}
.storeInProduct_contentImg{
  width: 100%;
}

/*推荐*/
.productCommend_container{

  padding-left: 23px;
  padding-right: 23px;
  box-sizing: border-box;
}
.productCommend_title{
  height:31px;
  margin-top: 27px;
  font-size:32px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:31px;
}
.productCommend_list_container{
  display: flex;
  margin-top: 25px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.productTabbar_container{

  display: flex;
  flex: 1;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 102px;
  background-color: white;
}
.productTabbar_store{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 116px;
  height: 100%;
}
.productTabbar_store_icon{
  width: 40px;
  height: 38px;
  margin-bottom: 11px;
}
.productTabbar_store_title{
  height:23px;
  font-size:24px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
}
.productTabbar_storeCar{

  flex: 1;
  height:102px;
  background:rgba(255,121,110,1);
  text-align: center;

  font-size:32px;
  font-family:PingFang-SC-Bold;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:102px;

}
.productTabbar_buy{
  flex: 1;
  height:102px;
  background:rgba(255,89,75,1);

  text-align: center;
  font-size:32px;
  font-family:PingFang-SC-Bold;
  font-weight:bold;
  color:rgba(255,255,255,1);
  line-height:102px;

}


.model_content{
  background-color: #ffffff;
  padding-bottom: 98px;
  box-sizing: border-box;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-radius: 12px;

}

.modal_p_img{
  width: 224px;
  height: 224px;
}

.model_flex_r{
  display: flex;
  flex-direction: row;
}

.modal_p_img_wrapper{
  position: absolute;
  top: -60px;
  left: 45px;

  border-radius: 5px;
  border:solid 4px #ffffff;
}

.modal_p_info{
  position: absolute;
  top: 32px;
  left: 269px;
  margin-left: 27px;
}

.standard{

  margin-top: 233px;
  margin-left: 45px;
  height:31px;
  font-size:32px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(31,31,31,1);

}
.product_modal_standards{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 29px;
  padding-right: 27px;
  margin-top: 47px;
  margin-bottom: 68px;
  box-sizing: border-box;
}
.product_modal_standards_item{
  width:160px;
  height:52px;
  background:rgba(236,236,236,1);
  border-radius:24px;

  text-align: center;
  font-size:28px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(31,31,31,1);
  line-height:52px ;
  margin: 0 16px;

}
.product_modal_standards_itemSelected{

  width:160px;
  height:52px;
  background:rgba(255,89,75,1);
  border-radius:24px;

  text-align: center;
  font-size:28px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:#ffffff;
  line-height:52px ;
  margin: 0 16px;
}
.product_modal_standard_line{
  margin-left: 40px;
  margin-right: 38px;
  height:1px;
  background:rgba(234,234,234,1);
}
.product_modal_standard_count{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 41px 0 57px;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
  margin-bottom: 67px;
}
.product_modal_standard_countTitle{
  height:31px;
  font-size:32px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(31,31,31,1);
}
.product_modal_standard_countChoose{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;

}
.product_modal_standard_countChoose_leftBtn{
  width:79px;
  height:48px;
  background:url("./image/pay_number_Reduction@2x.png");
  background-size:79px 48px;
  background-repeat:no-repeat;

}
.product_modal_standard_countChoose_rightBtn{
  width:79px;
  height:48px;
  background:url("./image/pay_number_add@2x.png");
  background-size:79px 48px;
  background-repeat:no-repeat;

}
.product_modal_standard_countChoose_number{

  font-size:32px;
  font-family:PingFang-SC-Bold;
  font-weight:bold;
  color:rgba(31,31,31,1);
  margin: 0 21px;
}
.modal_price{
  font-size:35px;
  font-family:PingFang-SC-Bold;
  font-weight:bold;
  color:rgba(255,89,75,1);
}


.modal_p_name{

  font-size:24px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(51,51,51,1);
  line-height:36px;

}

.modal_footer_btn{
  height:98px;
  background:rgba(255,89,75,1);

  font-size:32px;
  font-family:PingFang-SC-Medium;
  font-weight:500;
  color:rgba(255,255,255,1);
  line-height:98px;
  width: 100%;
  text-align: center;

  position: absolute;
  bottom: 0;
}

