html{
    font-size:100px;
}

body{
    background-color: #fff;
    height: 100%;
    font-size: 28px;
    padding-bottom: constant(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-right);
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);
}

#root{
    height: 100%;
}


.container{
    background-color: #FFFFFF;
    padding-top: constant(safe-area-inset-top);
    padding-top: env(safe-area-inset-top);

}
