.slider_item {
  height: 120px;
  background-color: #cccccc;
}

.slider_wrapper {
  height: 300px;
  width: 100%;
}


:global(.swiper-container){
  height: 120px;
}


.slider_container {
  height: 100%;
  background-color: antiquewhite;
  width: 100%;
}

.container{
  width: 100%;
}
